body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: scroll;
    background-color: #021723;
}
/* TODO: Fix links so they look nice when squished */
.navbar{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
    background-color: #040615ff;
    position: sticky;
    top: 0;
    color:#e6ecef;
    z-index: 1;

}
.navbarLeft ul li{
    list-style: none;
    display: inline-block;
    align-items: left;
    margin-right: 20px;
    position: relative;
}
.navbarLeft ul li a{
    text-decoration: none;
    color: #e6ecef; 
}
.navbarLeft ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #829097;
    position: absolute;
    left: 0;
    bottom: 0;
    
}
.navbarLeft ul li:hover::after{
    width: 100%;
    
}
.navbarRight ul li{
    list-style: none;
    display: inline-block;
    align-items: right;
    margin-left: 10px;
}

ul{
    list-style: none;
    padding-left: 10 px;
}

.navbarRight a{
    text-decoration: none;
    color: #e6ecef;
}
.navbarRight a:hover{
    color: #829097;
}


.title{/*title formatting for all the pages*/
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color:#e6ecef;
}


/*----------Index.html------------*/


.background{
    margin:auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("IMG_74872.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.introoverlay{
    backdrop-filter: brightness(60%);
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.introtxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 90vh;
    width: 60%;
    text-align: center;
    color: #e6ecef;

}
.introtxt h1{
    font-size: 4em;
}
.introtxt p{
    font-size: 1.5em;
}

@media (max-width: 800px){
    .introtxt {
        width: 100%; /* Adjust the width for smaller screens */
    }
    .introtxt h1{
        font-size: 4em;
    }
    .introtxt p{
        font-size: 1em;
    }
}
@media (max-width: 1000px) {
    .introtxt {
        width: 80%; /* Adjust the width for smaller screens */
    }
}

.aboutoverlay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    backdrop-filter: brightness(20%);
    height: 50vh;
    
}
.abouttext{
    width: 50%;
    margin:auto;
    color: #e6ecef;
}

.abouttext h1{
    font-size: 2.2em;
}
.abouttext li{
    font-size: 1em;
}

.abouttext ul{
    list-style: disc;
}

.abouttext li::marker{
    font-size: 1.75em;
}

@media (max-width: 800px){
    .abouttext {
        width: 90%; /* Adjust the width for smaller screens */
    }
    
    .abouttext p{
        font-size: 2em;
    }
}
@media (max-width: 1000px) {
    .abouttext {
        width: 70%; /* Adjust the width for smaller screens */
    }
    
    .abouttext p{
        font-size: 2em;
    }
}