body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: scroll;
    background-color: #021723;

}
img{
    width: 100%;
}
.navbar{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
    background-color: #040615ff;
    position: sticky;
    top: 0;
    color:#e6ecef;

}
.navbarLeft ul li{
    list-style: none;
    display: inline-block;
    align-items: left;
    margin-right: 20px;
    position: relative;
}
.navbarLeft ul li a{
    text-decoration: none;
    color: #e6ecef; /*change this */
}
.navbarLeft ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #829097;
    position: absolute;
    left: 0;
    bottom: 0;
    
}
.navbarLeft ul li:hover::after{
    width: 100%;
    
}
.navbarRight ul li{
    list-style: none;
    display: inline-block;
    align-items: right;
    margin-left: 10px;
}

ul{
    list-style: none;
    padding-left: 10 px;
}

.navbarRight a{
    text-decoration: none;
    color: #e6ecef;
}
.navbarRight a:hover{
    color: #829097;
}


.title{/*title formatting for all the pages*/
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color:#e6ecef;
} 

/*----------courses.html------------*/
.coursestext{
    width: 55%;
    margin: auto; 
    text-align: left; 
    box-sizing: border-box;
    color: #e6ecef;
    border:1px solid #e6ecef;
    border-radius: 20px;
    padding: 10px;
}
.coursesstanding h2{
    display: inline;
    margin: 0;
}
.coursesstanding p{
    margin:10px;
    display: inline;
}
/*----------experience.html------------*/
.experience{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    margin:auto;
    padding:10px;
}
.experience img{
    width: 40%;
}
.experiencetext{
    padding-left: 10px;
    text-align: left;
    color: #e6ecef;
}
.experiencetext h2{
    margin-top: 0px;
    margin-bottom: 5px;
}
.experiencetext p{
    margin-top: 0;
}
