body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: scroll;
    background-image: url("IMG_74872.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* TODO: Fix links so they look nice when squished */

.navbar{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
    background-color: #010207;
    position: sticky;
    top: 0;
    color:#e6ecef;
    z-index: 1;

}
.navbarLeft ul li{
    list-style: none;
    display: inline-block;
    align-items: left;
    margin-right: 20px;
    position: relative;
}
.navbarLeft ul li a{
    text-decoration: none;
    color: #e6ecef; /*change this */
}
.navbarLeft ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #829097;
    position: absolute;
    left: 0;
    bottom: 0;
    
}
.navbarLeft ul li:hover::after{
    width: 100%;
    
}
.navbarRight ul li{
    list-style: none;
    display: inline-block;
    align-items: right;
    margin-left: 10px;
}

ul{
    list-style: none;
    padding-left: 10 px;
}

.navbarRight a{
    text-decoration: none;
    color: #e6ecef;
}
.navbarRight a:hover{
    color: #829097;
}


.title{/*title formatting for all the pages*/
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    color:#e6ecef;
} 
/*
.background{
    margin:auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("IMG_74872.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
*/
.aboutoverlay{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}
.aboutoverlay1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.aboutoverlay a{
    color:#9facb3;
}
.aboutoverlay a:visited{
    color:#829097;
}

/*----------courses.html------------*/
.coursestext{
    width: 55%;
    margin: auto; 
    text-align: left; 
    color: #e6ecef;
}
.semester{
    padding: 10px;
    margin: 20px;
    margin-bottom: 10%;
    
}
.semester ul{
    list-style-type: disc;
}
.coursesstanding h2{
    display: inline;
    margin: 0;
}
.coursesstanding p{
    margin:10px;
    display: inline;
}
@media (max-width: 1000px) {
    .coursestext{
        width: 65%; /* Adjust the width for smaller screens */
    }
    .coursestext ul{
        padding-left: 20px;
    }
}
@media (max-width:800px){
    .coursestext{
        width:80%;
    }
}
/*----------experience.html------------*/
.experience{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    margin:auto;
    margin-top: 0;
    padding:15px;
    color: #e6ecef;
}

.experiencetitle{
    margin: 0 0 5px;
}
.experiencetitle h2{
    display:inline;
}
.experiencetitle p{
    display: inline;
    margin: 0;

}

.experiencetext p{
    margin-top: 0px;
    color: #e6ecef;
}

.hidden{
    opacity: 0;
    
}

.show{
    opacity: 1;
    animation: fadeInUp;
    animation-duration: 0.9s;
    animation-delay: -0.45s;
}

/*----------projects.html------------*/
.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    margin:auto;
    margin-top: 0;
    padding:15px;
    color: #e6ecef;
}

.experiencetext p{
    margin-top: 0px;
    color: #e6ecef;
}