body{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}
img{
    width: 100%;
}
.navbar{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
    background-color: antiquewhite;
}
.navbarLeft ul li{
    list-style: none;
    display: inline-block;
    align-items: left;
    margin-right: 20px;
    position: relative;
}
.navbarLeft ul li a{
    text-decoration: none;
    color: black; /*change this */
}
.navbarLeft ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: 0;
    
}
.navbarLeft ul li:hover::after{
    width: 100%;
    
}
.navbarRight ul li{
    list-style: none;
    display: inline-block;
    align-items: right;
    margin-left: 10px;
}

ul{
    list-style: none;
    padding-left: 10 px;
}

.navbarRight a{
    text-decoration: none;
    color: black;
}
.navbarRight a:hover{
    color: #009688;
}

.title{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.about{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    background-color: darkgoldenrod;
    
}
.abouttext{
    width: 70%;
    margin-left: 20px;
    display: inline-block;
}

.coursestext{
    width: 60%;
    margin: auto; 
    text-align: left; 
    background-color: lightgreen;
    box-sizing: border-box;
}
.coursesstanding h2{
    display: inline;
    margin: 0;
}
.coursesstanding p{
    margin:10px;
    display: inline;
}

.experience{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    margin:auto;
    background-color: lightpink;
    padding:10px;
}
.experience img{
    width: 40%;
}
.experiencetext{
    padding-left: 10px;
    text-align: left;
}
.experiencetext h2{
    margin-top: 0px;
    margin-bottom: 5px;
}
.experiencetext p{
    margin-top: 0;
}
